* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
section {
  margin-left: 15%;
  margin-right: 15%;
}
html {
  font-size: 62.5%;
  block-size: border-box;
  height: 100%;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
  margin: 1.5rem;
  line-height: 1.6;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
}
a {
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.hero-images {
  flex: 1 1 40rem;
  position: relative;
}
.main-head {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 0.5rem;
  min-width: 100%;
}
img {
  width: 50%;
  object-fit: cover;
  height: 300px;
  border-color: #000000;
  border-radius: 10px;

  z-index: 1;
  opacity: linear-gradient(white, transparent);
}
.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  max-height: 25%;
}
nav {
  position: relative;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 0.5rem;
  min-height: 6vh;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: sans-serif;
}
h2 {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  opacity: 0.8;
}
h3 {
  font-size: 2.1rem;
  text-align: center;
}
section {
  padding-bottom: 2.5rem;
}
footer {
    background: #ffffff;
    color: #474544;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
footer h5 {
  flex: 3 1 40rem;
  font-size: 16px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: "Montserrat", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #f2f3eb;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #5a5a5a;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 20px;
  margin: 20px 50px;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
  float: right;
  width: 45%;
}

input[type="text"],
[type="email"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #474544;
}

:-moz-placeholder {
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #f2f3eb;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type="text"],
  [type="email"],
  select,
  textarea {
    font-size: 0.875em;
  }
}
